.container {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0px;
    margin-top: 5%;
  
  }
  
  .container .spinBtn {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    border: 4px solid rgba(0, 0, 0, 0.75);
    cursor: pointer;
    user-select: none;
  }
  
  .container .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background color wheel */
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #333, 0 0 0 15px #fff, 0 0 0 18px #111;
    transition: transform 5s ease-in-out;
  }
  
  .container .wheel .number {
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(72deg * (var(--i) - 1)));
    /* clip-path: polygon(0 0, 50% 0, 100% 100%, 0 50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* cursor: pointer; */
  }
  
  .container .wheel .number span {
    position: relative;
    transform: rotate(-36deg); /* Adjust for new segment angle */
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
  }
  
  .container .wheel .number span::after {
    /* content: 'TL'; */
    position: absolute;
    font-size: 0.75em;
    font-weight: 500;
  }
  
  @media (max-width: 600px) {
    .container {
      width: 300px;
      height: 300px;
      margin-left: 11%;
    }
  }
  