@import url('https://fonts.googleapis.com/css?family=Raleway|Slabo+27px');

.styleImporter {
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
  color: #30593E;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #30593E;
  animation: typing 3.5s steps(40, end), blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: #30593E; }
}

.photo{
    background: url("/imagee.png");
    background-size: cover; /* Pour que l'image couvre toute la div */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Éviter que l'image se répète */
}

@media (max-width: 1300px) {
  .styleImporter{
    font-size: 30px;
    white-space: nowrap;
  }
}

@media (max-width: 1200px) {
  .styleImporter{
    font-size: 25px;
    white-space: nowrap;
  }
}


@media (max-width: 1000px) {
  .styleImporter{
    font-size: 18px;
    white-space: nowrap;
  }
}


@media (max-width: 800px) {
  .styleImporter{
    animation: none;
    font-size: 20px;
    white-space: wrap;
  }
}